body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/***/

/*******global*********/
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
  text-decoration: none;
  list-style: none
};
html {
  box-sizing: border-box;
  background-color: #f2f2f2
};

*,
*:before,
*:after{
  box-sizing: inherit;
  }  

/*header#######################*/

header{
  background-color: black;
}
header .h1{
  padding: 20px;
  font-size: 25px;
  letter-spacing: 1px;
}